/*
 * Edge 0.0 stylesheet
 * Since Luna 2.0
 * Based on Trent 2.0 by Studio 384
 */

/****************************************
 * General fixes
 ***************************************/


/****************************************
 * Fonts
 ***************************************/
body {
	font-family: "Segoe UI", open-sanse;
}

.h1, h1 {
	margin-top: 10px;
}

.h2, .h3, h2, h3 {
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6, h3.panel-title {
	font-family: "Segoe UI Light", "Segoe UI", open-sanse;
}
 
/****************************************
 * General interface
 ***************************************/

/* Navbar */
.navbar {
	margin-bottom: 0;
	color: #fff;
}

.navbar-default {
	background-color: #2788cb;
	border-radius: 0;
	border: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #2788cb;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}

/* Toggle */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #2788cb;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #2788cb;
}

/* Sidebar */
.sidebar {
	background-color: #e8e8e8;
	border-right: 1px solid #f0f0f0;
}

.sidebar .list-group {
	margin-bottom: 0;
	border-bottom: 1px solid #f0f0f0;
}

.sidebar .list-group-item {
	border: none;
	background-color: #f8f8f8;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-size: 12px;
	padding: 14px; 
}

.sidebar .list-group-item.active {
	background-color: #1a79bc;
	color: #fff;
}

.sidebar .list-group-item:hover {
	background-color: #e8e8e8;
}

.sidebar :last-child.list-group-item, .sidebar :first-child.list-group-item {
	border-radius: 0;
}

/****************************************
 * Buttons
 ***************************************/
.btn {
	border-radius: 0;
}

/****************************************
 * Forms
 ***************************************/
.form-control {
	border-radius: 0;
}

/****************************************
 * General classes
 ***************************************/
.col-no-padding {
	padding-left: 0;
	padding-right: 0;
}

/****************************************
 * Panles
 ***************************************/
.panel {
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.panel-default > .panel-heading {
	border-radius: 0;
	background-color: #555;
	color: #fff;
}

.panel-default > .panel-body, .panel-default > .table {
	border-radius: 0;
	border-width: 0 1px 1px 1px;
	border-style: none solid solid solid;
	border-color: #eee #eee #eee #eee;
}

/****************************************
 * Widgets
 ***************************************/
.widget .widget-heading {
	padding: 10px;
	background-color: #555;
	color: #fff;
}

.widget .widget-heading h2 {
	margin: 17px 10px 7px 10px;
	background-color: #555;
	color: #fff;
}

/****************************************
 * Admin note
 ***************************************/
.admin-note {
	background-color: #fafafa;
	margin-top: 0;
}

.admin-note:nth-of-type(2n+1) {
	background-color: #efefef;
}

.admin-note .media-body {
	padding-right: 10px;
}

.admin-note .media-heading {
	margin-top: 10px;
}

.admin-note p {
	margin-bottom: 0;
}

.admin-note .btn-group {
	margin-top: 5px;
	margin-bottom: 10px;
}