.editorWYSIWYG {border:none;font-family: "Segoe UI";}
.editorBBCODE {font-family: "Courier New";}

.richeditor textarea{border:none;display:block;}
.richeditor iframe{background-color:#ffffff;border:none;display:block;width:100% !important;}