.editorWYSIWYG {font: 10pt Arial;border:none;}
.editorBBCODE {font: 9pt "Courier New";}

.richeditor textarea{padding:0px 0px 0px 0px;border:none;display:block;}
.richeditor iframe{background-color:#ffffff;border:none;display:block;width:100% !important;}